@import '~@angular/material/theming';

@include mat-core();

$app-theme-primary: mat-palette($mat-lime);
$app-theme-accent: mat-palette($mat-orange);

$app-theme: mat-light-theme($app-theme-primary, $app-theme-accent);

@include angular-material-theme($app-theme);


