@import 'src/app-theme.scss';

$accent-palette: map-get($app-theme, accent);

app-table-editor {
  background: rgba(96, 125, 139, 0.9);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.row-selected {
  background-color: mat-color($accent-palette, 200, 0.2);
}
