<app-table-editor fxLayoutAlign="center"
                  [inputDefs]="editableFields"
                  [edited]="selected"
                  (editionFinished)="onEditionFinished($event)"
></app-table-editor>

<table mat-table matSort [dataSource]="dataSource">

  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef>Uczeń</th>
    <td mat-cell *matCellDef="let element"> {{element.student}} </td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Ocena</th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>


  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef>Nauczyciel</th>
    <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Komentarz</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="setAt">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Wystawiono</th>
    <td mat-cell *matCellDef="let element"> {{element.setAt | date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="setSelected(row)"
      [class]="row === selected ? 'row-selected' : null"></tr>
</table>
